header{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    .main_nav{
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding: 40px;
        
        .eatwell{
            font-size: 20px;
            color: white;
        }
        ul{
            width: 40%;
            display: flex;
            justify-content: space-around;
            font-size: 14px;
            font-weight: bold;
            color: #9b9b9b;
        }
        .basket_wishlist{
            display: flex;
            gap: 40px;
            color: white;
            font-size: 25px;
        }
        .dropdown{
            display: none;
        }
    }
}

@media screen and (max-width: 1400px){
    header{
        .main_nav{
            width: 100%;
            padding: 40px;
            ul{
                width: 40%;
           
            }
        }
    }
}
@media screen and (max-width: 1100px){
    header{
        .main_nav{
            
            ul{
             display: none;
            }
            .dropdown{
                display: flex;
                font-size: 33px;
                color: #9b9b9b;
            }
        }
    }
}
@media screen and (max-width: 400px){
    header{
        .main_nav{
            .basket_wishlist{
                gap: 20px;
                color: white;
                font-size: 20px;
            }
        }
    }
}